@{
    ViewData["Title"] = "User History";
}

<div>
    <form asp-controller="UserHistory" asp-action="Index" method="post">
        <label for="username">Enter Username</label>
        <input type="text" id="username" name="username" placeholder="Username" />
        <input type="submit">
    </form>
</div>
